/*//////////Plantilla//////////*/

.fa-house {
    margin-right: 6px;
}

.fa-arrow-right-to-bracket {
    margin-right: 8px;
}

.fa-cart-shopping {
    margin-right: 8px;
}

.form-inline {
    width: 30%; /* Ancho del nav */
}

.header {
    background-color: #007BFF;
    padding: 0px 0; /* Espaciado del encabezado */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-item a {
    font-size: 18px;
}

#SugerenciasBusqueda {
    position: absolute;
    min-width: 350px;
    margin-top: 0px;
}

#footerPlantilla {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0; /* Espaciado del pie de página */
    margin-top: 30px;
}

/*//////////Panel Index//////////*/

#tarjetas-section{
    padding-top: 15px;
}

#main-header {
    background-color: #fff;
    color: #fff;
    padding: 10px 0; /* Espaciado de la sección principal del encabezado */
}

#main-header h1 {
    font-size: 27px;
    color: #000;
    margin-top: 15px; /* Margen superior del ttulo principal */
}

.card {
    text-align: left; /* Alineación del texto en las tarjetas */
    font-size: 18px; /* Tamaño de fuente en las tarjetas */
}

.card-container {
    margin: 20px auto;
}

/*//////////Panel Usuario//////////*/

.user-info {
    position: relative;
}

#imgEditar {
    position: absolute;
    top: 0;
    left: 60%;
    margin-top: 3%;
    transform: translateX(-50%);
    font-size: 15px;
}

#blah {
    display: block;
}

.input-group-narrow {
    max-width: 440px; /* Establece el ancho máximo a tu preferencia */
    margin-left: 0px; /* Ajusta el margen izquierdo a tu preferencia */
}

.smaller-profile-img { /*Ajusta la imagen de usuario*/
    max-width: 135px; /* Ajusta el ancho máximo según tus preferencias */
}

.user-info {

    display: flex;
    align-items: center;
}

.user-info img {
    float: left;
    margin-top: 25px;
    margin-right: 10px; /* Ajusta el margen a tu preferencia */
    border: 3px solid black;
}


.col-md-6 {
    max-width: 440px; /* Establece el ancho máximo a tu preferencia */
    margin-left: 0px; /* Ajusta el margen izquierdo a tu preferencia */
}

#btnEditarGuardar{
    float: right; /* Alinea el botón a la derecha */
    margin-top: -38px; /* Ajusta el margen superior */
    padding: 8px 30px;
    font-size: 1.2rem;
    
}

#cardCredenciales {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 44px;
    max-width: 815px;
}

#cardHistorial {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-top: 30px;
    margin: 0px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 32px;
    max-width: 815px;
}

#loginButtom {
    float: right; /* Alinea el botón a la derecha */
    margin-top: -40px; /* Ajusta el margen superior */
    padding: 9px 30px;
    font-size: 1.1rem;
    /*margin-right: -384px; Ajusta el margen derecho 
    padding-left: 100px;
    padding-top: 20px;*/
}

#btnAnuncio {
    float: right; /* Alinea el botón a la derecha */
    margin-top: -5px; /* Ajusta el margen superior */
    padding: 6px 30px;
    font-size: 1.1rem;
    margin-right: 155px; /*Ajusta el margen derecho 
    padding-left: 100px;
    padding-top: 20px;*/
}

.col-md-6{
    padding-top: 20px;
}


#identificadorLista {
    background-color: #0D6EFD;
    color: white;
}

.scroll-list { /*propiedades del scroll del card-historial*/
    max-height: 510px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
}


/*//////////Panel Promociones//////////*/


#carouselExampleControls img {
    max-height: 400px; /* Ajusta el tamaño del img */
    margin: auto; /* Centra la imagen */
}

/* Panel de Reportes Usuarios */

.cedula-column {
    width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    text-align: center; /* Alinea el texto al centro */
}

/*//////////Pagina Catalogo//////////*/

#btnEditarCategoria{
    padding: 6px 10px;
    
}

#tarjetasCatalogo{
    padding: 10px 20px;
    
}

#textoCatalogo{
    margin-bottom: -0rem;
    
}

/*#stContenedor{
    margin-left: 70px;
    
}*/



/*//////////Login//////////*/

#loginButtom {

    margin-top: 20px;
    margin-left: auto;
    margin-right: 90px;
    padding-left: 50px;
    padding-right: 50px;
}

#socialButtoms {

    display: flex;
    margin-top: 110px;
    padding: 0px 30px;
    font-size: 1.1rem;
    justify-content: space-evenly;
}


#resgistro {
    margin-top: 70px;
}

#cardLogin{

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-top: 20px;

}

#cardRegistro{

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-top: 20px;

}

#contenedorLogin{
    padding-top: 40px;
}


/*//////////PanelRegistro//////////*/

#buttomBack{
    margin-right: 330px;
}

#footerRegistro {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0; /* Espaciado del pie de página */
}

.imagenes {
    display: flex; /* Esto permite que las imágenes estén una al lado de la otra */
}

.imagen-redondeada {
    border-radius: 10px; /* Define bordes redondeados para las imágenes */
    margin-right: 10px; /* Ajusta el margen entre las imágenes */
    width: 200px; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    border: 2px solid #000;
}

/*Carrito de compras */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

.botonEstilo {
    background-color: #0D6EFD;
    color: white;
}


/*//////////infoProductos//////////*/

.product-info .buy-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.product-info .buy-button:hover {
    background-color: #0056b3;
}

.price-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

#precioConfig {
    float: right;
}

.quantity-container p {
    margin-right: 100px;
}

.quantity-container {
    display: flex;
    align-items: center;
}

#cantidad {
    width: 200px;
    height: 35px;
    text-align: center;
    border: 1px solid #a4a2a2;
    border-radius: 5px;
    font-size: 20px;
}

.button-container {
    display: flex;
    gap: 15px;
}

.buy-button,
.add-to-cart-button {
    padding: 10px 20px; 
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 20px;
    cursor: pointer;
    width: 415px;
    height: 60px;
}

.buy-button {
    margin-top: 50px;
    background-color: #007bff;
    color: #fff;
}

.add-to-cart-button {
    background-color: #f4f4f4;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #dbdbdb;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}

.add-to-cart-button, .buy-button {
    width: 100%;
}


/*//////////Panel de Articulos//////////*/

#tarjetasArticulos {
    border: 1px solid #afafaf;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    overflow: hidden;
}

#tarjetasArticulos:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

#tarjetasArticulosimg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 7px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

#tarjetasArticulosbody {
    padding: 5px; 
    text-align: center;
}

#tarjetasArticulostext {
    font-family: Vegur, 'PT Sans', sans-serif;
}

/*//////////Panel de compra realizada//////////*/

.resumen-compra {
    margin-top: 20px;
    color: black;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.titulo-resumen {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.nombre-producto {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.detalle {
    margin-top: 5px;
    color: #666;
}

